body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #222222;
}

#pastraipa {
  width: 280px;
  text-align: justify;
  font-size: 14px;
  margin: 20px auto 40px;
  font-style: italic;
}

video {
  width: 500px;
}

img {
  width: 500px;
}

.headline {
  text-align: center !important;
  font-size: 18px;
}

.entry {
  margin: 20px auto 20px;
  width: fit-content;
}

.description {
  font-size: 14px;
  margin: 20px auto 20px;
  text-align: justify;
  width: 500px;
}

#wrapper {
  margin-top: 40px;
  margin-bottom: 100px;
}

