
.text {
  text-align: center;
}

body {
  background-color: white;
}

#box {
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  margin: auto;
  margin-top: 15%;
  border-radius: 15px;
  width: 250px;
  height: 90px;
}


.slidecontainer {
  width: 20%;
  min-width: 250px;
  position: relative;
  top: 20px;
  margin: auto;
}

.slider {
  -webkit-appearance: none; 
  width: 100%;
  height: 15px;
  background: grey;
  border-color: white;
  border-radius: 5px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  width: 3px;
  height: 40px;
  border-radius: 1px;
  background: rgb(85, 85, 85);
  cursor: pointer;
}